<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Ejemplo 1</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>

</head>


<div class="container-fluid mt-3" id="app">
    <input type="text" class="form-control" v-model="criterioDeBusquedaNombreCompleto"
        placeholder="Ingresar un nombre para buscar...">
    <br>
    <input type="text" class="form-control" v-model="criterioDeBusquedaDni"
        placeholder="Ingresar un dni para buscar...">
    <br>
    <div class="alert alert-danger" role="alert" v-if="alertDni || alertNombre">
        Escribiste menos de 3 caractéres en alguno de los filtros
    </div>
    <br>
    <div class="card-deck m-0">
        <div class="row">
            <div class="col" v-for="persona in personasFiltradas">
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">{{getNombreCompleto(persona)}}</h5>
                        <p class="card-text">dni {{persona.dni}}</p>
                        <a href="#" class="card-link">{{persona.correo}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

</html>

<script>
    new Vue({
        el: '#app',
        data: {
            criterioDeBusquedaNombreCompleto: '',
            criterioDeBusquedaDni: '',
            //Aquí, en este array es donde tienen que agregar su información
            personas: [
                {
                    nombre: "Daniel",
                    apellido: "Sanchez",
                    correo: "danielsanchez68@hotmail.com",
                    dni: "20442873"
                },
                {
                    nombre: "Sacha",
                    apellido: "Buengueroff",
                    correo: "sachabuengue@gmail.com",
                    dni: "40923577"
                },
                {
                    nombre: "Julio",
                    apellido: "Ortega",
                    correo: "julioortega@gmail.com",
                    dni: "20406114"
                },
            ]

        },
        computed: {
            personasFiltradasPorNombreCompleto() {
                return this.personas.filter((persona) => {
                    let registroCompleto = `${persona.nombre} ${persona.apellido}`
                    return registroCompleto.toLowerCase().includes(this.criterioDeBusquedaNombreCompleto.toLowerCase())
                });
            },
            personasFiltradasPorDni() {
                return this.personas.filter((persona) => {
                    return persona.dni.includes(this.criterioDeBusquedaDni)
                });
            },
            personasFiltradas() {
                return this.personasFiltradasPorDni.filter((persona) => {
                    return this.personasFiltradasPorNombreCompleto.includes(persona)
                })
            },
            alertNombre() {
                let result = false
                if (this.criterioDeBusquedaNombreCompleto.length < 3 && this.criterioDeBusquedaNombreCompleto.length != "") {
                    result = true
                }
                return result
            },
            alertDni() {
                let result = false
                if (this.criterioDeBusquedaDni.length < 3 && this.criterioDeBusquedaDni.length != "") {
                    result = true
                }
                return result
            }
        },
        methods: {
            getNombreCompleto(persona) {
                return `${persona.nombre} ${persona.apellido}`
            }
        }
    });
</script>